.drawer,
.subcategoryDrawer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.drawerList,
.subcategoryDrawerList {
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid var(--grey-border);
}

.drawerList:hover,
.closeDrawer:hover {
  color: black;
}

.backArrowIcon {
  border-right: 1px solid var(--grey-border);
  padding: 3rem;
  font-size: 3rem;
}

.back {
  padding: 2rem;
}

.backIcon {
  position: relative;
  border-right: 1px solid var(--grey-border);
  width: 4rem;
}

.backIcon::before {
  content: "";
  border: 3px solid transparent;
  border-top-color: var(--bg-greyShade);
  border-right-color: var(--bg-greyShade);
  position: absolute;
  transform: rotate(-135deg);
  left: 15%;
  top: 33%;
  width: 5px;
  height: 5px;
}

.closeDrawer {
  border-bottom: 1px solid var(--grey-border);
  padding-left: 2rem;
}

.nextCategory {
  justify-content: space-between;
  position: relative;
}

.drawerCategory::after {
  content: "";
  border: 3px solid transparent;
  border-top-color: var(--bg-greyShade);
  border-right-color: var(--bg-greyShade);
  position: absolute;
  transform: rotate(45deg);
  right: 2rem;
  top: 40%;
  width: 5px;
  height: 5px;
}

.nextCategory::after {
  content: "";
  width: 5px;
  height: 100%;
  border-left: 1px solid var(--grey-border);
  position: absolute;
  top: 0;
  right: 5rem;
}

.allCategoryDrawer {
  position: relative;
}

.categoryDrawer {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 2;
}

.drawerCategory {
  right: 0rem;
  position: absolute;
  top: 0;
  display: block;
  width: 45px;
  height: 100%;
}

.pageSubCategory {
  height: 100%;
}


@media screen and (min-width: 768px) {
  .drawer {
    display: none;
  }
}
