.desktopNav {
    color: white;
    padding: 0 2rem 0 2rem;
}

.navLinks {
    padding: .5rem;
    border-radius: 2px;
    transition: background-color .3s;
}

.navLinks:hover {
    background-color: var(--primary-color);
}

.allNavLinks {
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.services{
    position: relative;
}

@media screen and (max-width:768px) {
    .desktopNav {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .scrollNav {
        position: fixed;    
        width: 100%;
        z-index: 99;
        top: 0%;
        background-color: rgba(0, 0, 0, 0.719);
    }

    .onScrolldesktopLogo {
        width: 50px;
        height: 50px;
        filter: brightness(1);
    }

    .desktopLinks {
        justify-content: space-between;
    }
}